FSQ_API_KEY= ENTER YOUR FOURSQUARE API HERE
FSQ_BASE_URL = https://places-api.foursquare.com/places

ORS_API_KEY=ENTER YOUR OPENROUTINGSERVICE API HERE
ORS_BASE_URL = "https://api.openrouteservice.org/v2"